@import "tailwindcss";

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
  scroll-behavior: smooth;
}

p{
  font-size: 1.5rem;
  text-align: justify;
}

li {
  list-style: none;
  margin: 0;
}

a:hover{
  color: rgb(0, 61, 147);
}

/* Theme */
:root {
  --main-color: #fac553;
  --supporting-color: #fbf4e5;
  --font-color: #fac553;
  --primary-bg-color: #121b25;
  --secondary-bg-color: #fff;
  background: var(--primary-bg-color);
}

/* Layout */

.preview-img {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  height: auto;
  display: none;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.preview-link {
  position: relative;
  text-decoration: none;
}
